.avantages {
  background-color: $color-ghost-white;
  padding: 122px 0;
  margin: 0 auto;

  @media (max-width: 1199px) {
    padding: 100px 0;
  }

  @media (max-width: 767px) {
    padding: 67px 0;
  }
}

.avantages h2 {
  font-family: $ff-bebas-bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 65px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 42px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 45px;
  }
}

.avantages__list-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  position: relative;
}

.avantages__list {
  @include list-zeroing;
  max-width: 1366px;
  position: relative;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 340px);
  row-gap: 77px;
  padding: 0 162px 0 189px;

  @media (min-width: 1199px) and (max-width: 1365px) {
    grid-template-columns: repeat(2, 250px);
  }

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 294px);
    padding: 0 75px 0 45px;
    row-gap: 325px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: 767px) {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 35px;
    justify-items: center;
  }
}

.avantages__item {
  position: relative;
  width: 340px;
  display: flex;
  gap: 30px;

  &:nth-child(1),
  &:nth-child(2) {
    padding-bottom: 78px;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
      background: $color-border-2;
    }
  }

  &:nth-child(1) {
    &::after {
      left: -25px;
    }
  }

  @media (min-width: 1199px) and (max-width: 1365px) {
    width: 250px;
  }

  @media (max-width: 1199px) {
    border-bottom: none;

    &:nth-child(1),
    &:nth-child(2) {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    border-bottom: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 4px;

    &:nth-child(1),
    &:nth-child(2) {
      padding-bottom: 0;

      &::after {
        display: none;
      }
    }
  }
}

.avantages__item-counts p {
  position: relative;
  font-family: $ff-roboto-condensed-bold;
  font-size: 71px;
  line-height: 80%;
  width: auto;
  display: block;
  padding-bottom: 23px;
  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (max-width: 1199px) {
    font-size: 58px;
    padding-bottom: 26px;
  }

  @media (max-width: 767px) {
    line-height: 96%;
    padding-bottom: 19px;
  }
}

.avantages__item-counts span {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: $ff-roboto-condensed-regular;
  font-size: 14px;
  line-height: 150%;
  -webkit-text-fill-color: #2e35ac;

  @media (max-width: 767px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.avantages__item-text h3 {
  font-family: $ff-roboto-condensed-bold;
  font-size: 22px;
  margin-bottom: 9px;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 3px;
  }
}

.avantages__item-text p {
  font-family: $ff-roboto-light;
  font-size: 16px;
  line-height: 140%;

  @media (max-width: 767px) {
    max-width: 227px;
  }
}

.avantages__item-center {
  gap: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: border-box;
  padding: 57px 34px;
  background-color: $color-resolution-blue;
  width: 240px;
  color: $color-default-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1199px) {
    gap: 0;
    padding: 36px;
    width: 442px;
  }

  @media (max-width: 767px) {
    gap: 0;
    padding: 44px;
    width: 100%;
    position: static;
    transform: translateX(0) translateY(0);
    left: 0;
    top: 0;
    margin-bottom: 7px;
  }
}

.avantages__item-center-counts {
  @media (max-width: 767px) {
    margin-top: 8px;
  }
}

.avantages__item-center-counts p {
  font-family: $ff-roboto-condensed-bold;
  font-size: 74px;
  line-height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;

  @media (max-width: 1199px) {
    margin-bottom: 15px;
  }

  @media (max-width: 767px) {
    margin-bottom: 9px;
    line-height: 84%;
  }
}

.avantages__item-center-counts span {
  font-size: 26px;
  line-height: 150%;

  @media (max-width: 1199px) {
    font-size: 22px;
  }
}

.avantages__item-center-text p {
  font-family: $ff-roboto-condensed-regular;
  font-size: 16px;
  line-height: 150%;
  max-width: 100%;

  @media (max-width: 1199px) {
    max-width: 192px;
  }
}
