.button {
  box-sizing: border-box;
  display: inline-block;
  font-family: $ff-roboto-condensed-bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  background: none;
  border: none;
}
