.contacts {
  position: relative;
  background: linear-gradient(
    to right,
    $color-saphire 50%,
    $color-default-white 50%
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 1px;
    background-color: $color-light-slate-grey;
  }

  @media (max-width: 1199px) {
    background: none;

    &::before {
      display: none;
    }
  }
}

.contacts__wrapper {
  max-width: 1366px;
  display: flex;
  margin: 0 auto;

  @media (max-width: 1199px) {
    flex-direction: column;
  }
}

.contacts__form {
  width: 50%;
  padding: 63px 170px 61px 103px;
  background-color: $color-saphire;
  color: $color-default-white;

  @media (max-width: 1199px) {
    padding: 70px 163px 70px 133px;
    width: 100%;
  }

  @media (max-width: 767px) {
    padding: 68px 15px;
  }
}

.contacts__form h2 {
  font-family: $ff-bebas-bold;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  margin-bottom: 25px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 29px;
  }
}

.contacts__form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  row-gap: 28px;

  @media (max-width: 1199px) {
    column-gap: 60px;
    row-gap: 30px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    row-gap: 26px;
  }
}

.contacts__form label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.contacts__form input {
  width: calc(50% - 15px);
  padding: 10px 10px 7px 0;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid $color-light-slate-grey;
  font-family: $ff-roboto-condensed-regular;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  &::placeholder {
    font-family: $ff-roboto-condensed-regular;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }

  @media (max-width: 1199px) {
    width: calc(50% - 30px);
  }

  @media (max-width: 767px) {
    width: 100%;

    &:last-child {
      margin-top: 12px;
    }
  }
}

.contacts__form input[type='submit'] {
  width: 100%;
  padding: 16px 21px;
  font-family: $ff-roboto-condensed-bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: $color-default-white;
  border: 3px solid $color-default-white;
}

.contacts__content {
  width: 50%;
  padding: 72px 101px 62px 120px;

  @media (max-width: 1199px) {
    width: 100%;
    padding: 70px 101px 62px 133px;
  }

  @media (max-width: 767px) {
    padding: 71px 15px 66px 15px;
  }
}

.contacts__content h2 {
  font-family: $ff-bebas-bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-bottom: 38px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 35px;
  }
}

.contacts__content-list {
  @include list-zeroing;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  row-gap: 17px;
  padding-left: 3px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 87%;
    width: 1px;
    background-color: $color-light-slate-grey;
  }

  @media (max-width: 1199px) {
    row-gap: 20px;
    column-gap: 96px;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding-left: 0;
    row-gap: 22px;

    &::before {
      display: none;
    }
  }
}

.contacts__content-item h3 {
  font-family: $ff-roboto-condensed-bold;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 3px;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 4px;
  }

  @media (max-width: 767px) {
    margin-bottom: 3px;
  }
}

.contacts__content-item address,
.contacts__content-item a,
.contacts__content-item p {
  font-family: $ff-roboto-condensed-regular;
  font-style: normal;
  color: $color-saphire;
  font-size: 14px;
  line-height: 21px;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 152.34%;
  }
}

@media (max-width: 767px) {
  .contacts__content-item:nth-child(1) {
    order: 1;
  }

  .contacts__content-item:nth-child(2) {
    order: 3;
  }

  .contacts__content-item:nth-child(3) {
    order: 2;
  }

  .contacts__content-item:nth-child(4) {
    order: 4;
  }
}
