.gym {
  position: relative;
  padding: 120px 0 235px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 85px;
  justify-items: first baseline;
  max-width: 1366px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    padding: 100px 0 183px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @media (max-width: 767px) {
    padding: 67px 0;
  }
}

.gym__content {
  margin: 44px 0 0 166px;
  padding: 0;
  max-width: 100%;
  width: 352px;

  @media (max-width: 1199px) {
    padding: 0 45px;
    text-align: center;
    margin: 0 auto;
    max-width: 597px;
    width: 100%;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    text-align: left;
    max-width: 100%;
    width: 100%;
  }
}

.gym__content h2 {
  font-family: $ff-bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
  }
}

.gym__content strong {
  display: inline-block;
  font-family: $ff-roboto-condensed-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 40px;

  @media (max-width: 1199px) {
    margin-bottom: 37px;
  }

  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
}

.gym__content p {
  font-family: $ff-roboto-light;
  font-size: 16px;
  line-height: 150%;
  max-width: 100%;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (max-width: 1199px) {
    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }

  @media (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 33px;
    }
  }

  @media (max-width: 320px) {
    max-width: 258px;
  }
}

.gym__content-hidden-text {
  display: block;

  @media (max-width: 1199px) {
    display: none;
  }
}

.gym__image-container {
  object-fit: cover;
  padding-right: 103px;

  @media (max-width: 1199px) {
    display: flex;
    justify-content: center;
    padding: 0 45px;
    width: 100%;
    max-height: 345px;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 0;
    width: 100%;
    height: 313px;
    margin-bottom: 40px;
  }
}

.gym__image-container img {
  width: 100%;
  max-height: 100%;

  @media (max-width: 1199px) {
    width: 678px;
    max-height: 345px;
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 313px;
  }
}

.gym__video-container {
  position: absolute;
  left: 53%;
  top: 403px;
  transform: translateX(-50%);
  width: 364px;
  height: 228px;

  @media (max-width: 1199px) {
    left: 50%;
    top: unset;
    bottom: 100px;
    width: 266px;
    height: 167px;
  }

  @media (max-width: 767px) {
    position: static;
    transform: translateX(0);
    width: 320px;
    height: 167px;
  }
}

.gym__video-container iframe {
  width: 100%;
  height: 100%;
}

.gym__video-button-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: image-set(
    url("../img/gym/video-image.png") 1x,
    url("../img/gym/video-image@2x.png") 2x,
    url("../img/gym/video-image.webp") 1x,
    url("../img/gym/video-image@2x.webp") 2x
  );
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $video-background;
  }

  &--hidden {
    display: none;
  }

  @media (max-width: 1199px) {
    background-image: image-set(
      url("../img/gym/video-image-tablet.png") 1x,
      url("../img/gym/video-image-tablet@2x.png") 2x,
      url("../img/gym/video-image-tablet.webp") 1x,
      url("../img/gym/video-image-tablet@2x.webp") 2x
    );
  }

  @media (max-width: 767px) {
    background-image: image-set(
      url("../img/gym/video-image-mobile.png") 1x,
      url("../img/gym/video-image-mobile@2x.png") 2x,
      url("../img/gym/video-image-mobile.webp") 1x,
      url("../img/gym/video-image-mobile@2x.webp") 2x
    );
  }
}

.gym__video-button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: none;
  background: url("../img/gym/ellipse.svg") 50% 50% no-repeat;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 72px;
    height: 72px;
    background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 17px;
    height: 17px;
    background: url("../img/icons/play.svg") 50% 50% no-repeat;
  }

  @media (max-width: 1199px) {
    width: 73px;
    height: 73px;
    background: url("../img/gym/ellipse-tablet.svg") 50% 50% no-repeat;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      width: 12px;
      height: 12px;
    }
  }
}

.gym__video-button:focus {
  background-color: $color-saphire;
}
