.reviews {
  margin-bottom: 122px;

  @media (max-width: 1199px) {
    margin-bottom: 103px;
  }

  @media (max-width: 767px) {
    margin-bottom: 65px;
  }
}

.reviews h2 {
  font-family: $ff-bebas-bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 49px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 39px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 43px;
  }
}

.reviews__swiper-wrapper {
  position: relative;
  max-width: 662px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 668px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.reviews__swiper {
  width: 560px;

  @media (max-width: 1199px) {
    width: 566px;
  }

  @media (max-width: 767px) {
    width: 226px;
  }
}

.reviews__swiper .swiper-slide {
  position: relative;
  padding: 54px 62px;
  color: $color-default-white;
  background-color: $color-resolution-blue;
  display: flex;
  column-gap: 28px;

  @media (max-width: 1199px) {
    padding: 52px 65px;
  }

  @media (max-width: 767px) {
    padding: 40px 25px;
    flex-wrap: wrap;
    column-gap: 0;
  }
}

.reviews__swiper .swiper-slide img {
  width: 80px;
  height: 80px;
  margin-top: 8px;

  @media (max-width: 1199px) {
    margin-top: 10px;
  }

  @media (max-width: 767px) {
    width: 68px;
    height: 68px;
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 13px;
  }
}

.reviews__swiper .swiper-slide h3 {
  position: static;
  font-family: $ff-roboto-condensed-bold;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 13px;

  @media (max-width: 1199px) {
    margin-bottom: 14px;
  }

  @media (max-width: 767px) {
    position: absolute;
    top: 49px;
    right: 40px;
    line-height: 130%;
    max-width: 62px;
    margin-bottom: 0;
  }
}

.reviews__swiper .swiper-slide p {
  font-family: $ff-roboto-condensed-regular;
  font-size: 16px;
  line-height: 140%;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.reviews__swiper-button-prev,
.reviews__swiper-button-next {
  background-color: $color-default-white;
  padding: 1px;
  border: none;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: block;
  width: 16px;
  height: 32px;
}

.reviews__swiper-button-prev {
  left: 0;
}

.reviews__swiper-button-next {
  right: 0;
}

.reviews__swiper-button-prev svg,
.reviews__swiper-button-next svg {
  width: 16px;
  height: 32px;
  fill: $color-default-white;

  @media (max-width: 767px) {
    width: 10px;
    height: 19px;
  }
}

.reviews__swiper-wrapper .swiper-button-disabled {
  opacity: 0.3;
}
