.subscriptions {
  position: relative;
  padding: 120px 0;
  background-color: $color-ghost-white;

  @media (max-width: 1199px) {
    padding: 100px 0;
  }

  @media (max-width: 767px) {
    padding: 72px 0;
  }
}

.subscriptions .wrapper {
  &::before {
    content: '';
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 300px;
    height: 384px;
    background-image: image-set(
      url('../img/subscriptions/subscriptions-background.png') 1x,
      url('../img/subscriptions/subscriptions-background@2x.png') 2x,
      url('../img/subscriptions/subscriptions-background.webp') 1x,
      url('../img/subscriptions/subscriptions-background@2x.webp') 2x
    );
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (max-width: 1199px) {
    &::before {
      background-image: image-set(
        url('../img/subscriptions/subscriptions-background-tablet.png') 1x,
        url('../img/subscriptions/subscriptions-background-tablet@2x.png') 2x,
        url('../img/subscriptions/subscriptions-background-tablet.webp') 1x,
        url('../img/subscriptions/subscriptions-background-tablet@2x.webp') 2x
      );
      background-position: 50% 50%;
      width: 289px;
      height: 345px;
      bottom: -75px;
      right: 0;
    }
  }

  @media (max-width: 767px) {
    &::before {
      display: none;
    }
  }
}

.subscriptions h2 {
  text-align: center;
  font-family: $ff-bebas-bold;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-bottom: 33px;

  @media (max-width: 1199px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 29px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 22px;
  }
}

.subscriptions__tabs-list {
  @include list-zeroing;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  column-gap: 46px;
  max-width: 341px;
  margin: 0 auto 38px auto;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $color-border;
  }

  @media (max-width: 1199px) {
    max-width: 332px;
    margin-bottom: 42px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    margin-bottom: 35px;
  }
}

.subscriptions__tabs-item {
  padding-bottom: 11px;
}

.subscriptions__tabs-item h3 {
  font-family: $ff-roboto-condensed-regular;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.5;

  @media (max-width: 1199px) {
    font-size: 18px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.subscriptions__tabs-item--current {
  border-bottom: 2px solid $color-crimson;
}

.subscriptions__tabs-item--current h3 {
  opacity: 1;
}

.subscriptions__tabs-content-list {
  @include list-zeroing;
  display: none;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;

  &--current {
    display: flex;
  }

  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    column-gap: 0;
  }
}

.subscriptions__tabs-content-item {
  position: relative;
  z-index: 2;
  min-width: 360px;
  box-sizing: border-box;
  text-align: center;
  padding: 63px 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-default-white;

  &:hover {
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: calc(100% - 7px);
      height: calc(100% - 7px);
      background: $color-default-white;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      height: 100%;
      background: $border-gradient;
    }
  }

  @media (min-width: 1199px) and (max-width: 1365px) {
    min-width: 300px;
    max-width: 300px;
  }

  @media (max-width: 1199px) {
    min-width: 442px;
    padding: 65px 77px;
  }

  @media (max-width: 767px) {
    min-width: 100%;
    width: 290px;
    padding: 50px 42px;
  }
}

.subscriptions__tabs-content-item h4 {
  position: relative;
  z-index: 2;
  font-family: $ff-roboto-condensed-bold;
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 11px;

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 110.16%;
    margin-bottom: 10px;
  }
}

.subscriptions__tabs-content-item span {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-family: $ff-roboto-condensed-regular;
  font-size: 16px;
  line-height: 150%;
  color: $color-chambray;
  margin-bottom: 66px;

  @media (max-width: 767px) {
    margin-bottom: 52px;
  }
}

.subscriptions__tabs-content-item-text {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  column-gap: 9px;
  margin-bottom: 33px;

  @media (max-width: 767px) {
    padding-left: 8px;
    margin-bottom: 29px;
  }
}

.subscriptions__tabs-content-item-text span {
  position: absolute;
  top: -59px;
  left: -15px;
  z-index: -1;
  font-family: $ff-roboto-condensed-bold;
  font-size: 100px;
  line-height: 150%;
  color: $color-whishper;

  @media (max-width: 767px) {
    font-size: 80px;
    top: -43px;
    left: -9px;
  }
}

.subscriptions__tabs-content-item p {
  font-family: $ff-roboto-condensed-bold;
  font-size: 60px;
  line-height: 150%;
  color: $color-egyptian-blue;

  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 150%;
  }
}

.subscriptions__tabs-content-item b {
  font-family: $ff-roboto-condensed-bold;
  margin: 0;
  color: $color-saphire;
  font-size: 60px;
  line-height: 150%;

  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 150%;
  }
}

.subscriptions__tabs-content-item-button {
  position: relative;
  z-index: 2;
  padding: 23px 42px;
  max-width: 206px;
  display: flex;
  align-items: center;
  color: $color-saphire;
  border: 2px solid $color-saphire;

  @media (max-width: 1199px) {
    padding: 23px 42px;
  }

  @media (max-width: 767px) {
    padding: 25px 42px;
  }
}

.subscriptions__tabs-content-item:hover
  .subscriptions__tabs-content-item-button {
  border: none;
  background: $button-gradient;
  color: $color-default-white;
}

.subscriptions__tabs-content-item-button:focus {
  outline: none;
  border: none;
  background: $button-gradient;
  color: $color-default-white;
}
