@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Bebas-Neue-Bold";

  font-display: swap;
  src: local("Bebas-Neue-Bold"),
    url("../fonts/BebasNeue-Bold.woff2"),
    url("../fonts/BebasNeue-Bold.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Bebas-Neue-Regular";

  font-display: swap;
  src: local("Bebas-Neue-Regular"),
    url("../fonts/BebasNeue-Regular.woff2"),
    url("../fonts/BebasNeue-Regular.woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto-Condensed-Light";

  font-display: swap;
  src: local("Roboto-Condensed-Light"),
    url("../fonts/RobotoCondensed-Light.woff2"),
    url("../fonts/RobotoCondensed-Bold.woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto-Condensed-Regular";

  font-display: swap;
  src: local("Roboto-Condensed-Regular"),
    url("../fonts/Roboto-Condensed.woff2"),
    url("../fonts/Roboto-Condensed.woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto-Condensed-Bold";

  font-display: swap;
  src: local("Roboto-Condensed-Bold"),
    url("../fonts/RobotoCondensed-Bold.woff2"),
    url("../fonts/RobotoCondensed-Bold.woff");
}
