$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$color-saphire: #102654;
$color-chambray: #495a7d;
$color-egyptian-blue: #103aae;
$color-torch-red: #ed0233;
$color-resolution-blue: #1c3374;
$color-black-russian: #030a1a;
$color-ghost-white: #f8f9fc;
$color-whishper: #e8e8e8;
$color-crimson: #d10a42;

$color-border: rgba(120, 120, 120, 0.2);

$video-background: rgba(20, 54, 122, 0.5);

$button-gradient: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$border-gradient: linear-gradient(rgba(209, 10, 66, 1), rgba(0, 53, 159, 1));
$border-gradient-2: linear-gradient(
  rgba(237, 2, 51, 0.2),
  rgba(0, 62, 183, 0.2)
);

$box-shadow-1: 0px 0px 40px rgba(28, 51, 116, 0.2);

$fz-default: 16px;

$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-bebas: "Bebas-Neue-Regular", "Arial", sans-serif;
$ff-roboto-light: "Roboto-Condensed-Light", "Arial", sans-serif;
$ff-roboto-condensed-regular: "Roboto-Condensed-Regular", "Arial", sans-serif;
$ff-roboto-condensed-bold: "Roboto-Condensed-Bold", "Arial", sans-serif;

$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
